{% extends '_layout.jinja2' %}
{% from 'utils/menus.jinja2' import linhas_por_pagina, nome_parcial with context %}
{% from 'bootstrap5/utils.html' import render_icon %}
{% from 'bootstrap5/pagination.html' import render_pagination %}

{% block content %}
<div class="row justify-content-center">
    <div class="clearfix mb-4 align-items-center">
        <form action="{{ url_for('lista_produtos_por_categoria') }}" method="GET">
            <div class="float-start small">
                <div class="hstack gap-3">
                    {{ linhas_por_pagina(pp) }}
                    {{ nome_parcial(q) }}
                </div>
            </div>
            <div class="float-end">
                <button type="submit" class="btn btn-secondary">Filtrar</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    {% include 'produto_tabela.jinja2' %}
</div>
<div class="row justify-content-center">
    <div class="clearfix">
        <div class="float-start small">
            Mostrando itens {{ rset.first }} a {{ rset.last }} de um total de {{ rset.total }}
        </div>
    </div>
    <div class="float-end">
        {{ render_pagination(rset, 'lista_produtos_por_categoria', align='right', size='sm', args={'pp': pp, 'q': q}) }}
    </div>
</div>
{% endblock %}
